<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../public/css/bootstrap.min.css">
<link rel="stylesheet" href="../public/css/font-awesome.min.css">
<link rel="stylesheet" href="../public/plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../public/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../public/css/main.css">
<script src="../public/libs/jquery.min.js"></script>
<script src="../public/plugins/layer/layer.js"></script>
<script src="../public/libs/bootstrap.min.js"></script>
<script src="../public/libs/vue.min.js"></script>
<script src="../public/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../public/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../public/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../public/js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<a v-if="hasPermission('downloadinvoicelog:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a v-if="hasPermission('downloadinvoicelog:update')" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a v-if="hasPermission('downloadinvoicelog:delete')" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label">账户ID</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="downloadInvoiceLog.accountId" placeholder="账户ID"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">用户ID</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="downloadInvoiceLog.userId" placeholder="用户ID"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">请求类型</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="downloadInvoiceLog.requestType" placeholder="请求类型"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">同步ID</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="downloadInvoiceLog.synId" placeholder="同步ID"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">同步月份</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="downloadInvoiceLog.syncMonth" placeholder="同步月份"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">请求内容</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="downloadInvoiceLog.requestContent" placeholder="请求内容"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">处理标志</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="downloadInvoiceLog.dealFlag" placeholder="处理标志"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">同步时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="downloadInvoiceLog.syncTime" placeholder="同步时间"/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="../public/js/ncu/downloadinvoicelog.js"></script>
</body>
</html>